*{
    margin: 0;
    padding: 0;
    background-color: #ED4388;

}
.text{
    position: fixed;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 50%;
    top:10px;
    text-shadow: 0 2px 5px rgba(0, 0,0, .3);
    transform: translateX(-50%);
}
.audio{
    background-color: #ED4388;
    display: flex;

}
.card{
    position: absolute;
    top: 1%;
    right: 1%;
}